@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.calc-container {
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 500px;
  padding: 5px;
}

.calc-screen,
.calc-btn-container {
  width: 100%;
}

.calc-screen {
  padding: 10px 25px;
  font-size: 50px;
  color: white;
  text-align: right;
  height: 25%;
}

.calc-main-container {
  display: flex;
  height: 75%;
}

.calc-btn-container {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.calc-reset-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 25%;
  gap: 5px;
}

.calc-num-btn-container {
  height: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  padding: 5px;
}

.calc-op-btn-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

button {
  cursor: pointer;
  color: white;
  margin: 0;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 24px;
  text-align: center;
}

button:active {
  transform: scale(0.9);
}

.clear-btn,
.delete-btn {
  color: black;
  background-color: lightgrey;
  width: 115px;
  height: 65px;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.clear-btn:hover,
.delete-btn:hover {
  background-color: grey;
  color: white;
}

.num-btn {
  background-color: gray;
  transition: background-color 0.3s ease;
}

.num-btn:hover {
  background-color: lightgrey;
  color: black;
}

.zero-btn {
  width: 150px;
  height: 65px;
  border-radius: 50px;
  grid-column-end: span 2;
  text-align: left;
  padding-left: 15px;
}

.op-btn,
.eval-btn {
  background-color: orange;
  transition: background-color 0.3s ease;
}

.op-btn:hover,
.eval-btn:hover {
  background-color: lightgoldenrodyellow;
  color: black;
}
